body {

  color: #f2f2f2;
  font-family:sans-serif;
  background: url("Epic achtergrond.png");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
<style>
  body {


  }
</style>
.menubalk {
  background-color: none;
  padding: 20px
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #0000ff;
}
li{
  font-family: sans-serif;
  font-size:20px;
}
